.maxH-0 {
    max-height: 0;
    transition-property: max-height;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

.maxH-full {
    max-height: 9999px;
    transition-property: max-height;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(1, 0, 1, 0);
}

.slick-prev {
    left: 0 !important;
}

.slick-next {
    right: 0 !important;
}